polympiads_telemetry

opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0

pytest
pytest-asyncio

aiofiles

celery[redis]
celery[pytest]
opentelemetry-instrumentation-celery
opentelemetry-instrumentation-requests

django
opentelemetry-instrumentation-django
django-enumfield
uuid6
requests
psycopg[binary]

rules
hypothesis

tree-sitter
tree-sitter-java